#Ignore files build by Visual Studio

diploma/*/[dD]ebug/
diploma/x64/
**/.hg/
**/*.opensdf
**/*.v12.suo
**/*.hgignore
**/*.orig
**/*.sdf
**/*.vcxproj
**/*.sln
!diploma/diploma.sdf
!diploma/diploma.sln
!diploma/diploma.vcxproj
