language: cpp
dist: xenial
sudo: required

addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
      - sourceline: 'ppa:timsc/opencv-3.4'
    packages:
      - gcc-7
      - g++-7

os:
  - linux

compiler:
  - gcc
  - clang

branches:
  only:
    - master

script:
  - apt search opencv
  - ls -l /usr/include/opencv/
  - ls -l /usr/include/opencv2/
  - sudo ln -s /usr/bin/gcc-7 /usr/local/bin/gcc
  - sudo ln -s /usr/bin/g++-7 /usr/local/bin/g++
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Debug ..
  - make -j
